.menu-list {
  background-color: var(--white);
  color: var(--black);
  font-size: 0.8em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: -5rem;
  left: 0;
  right: 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.menu-list.mobil {
  position: fixed;
}

.menu-item {
  text-align: center;
  background: none;
  background-color: rgba(194, 194, 194, 0.2);
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  width: 100%;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgba(194, 194, 194, 0.5);
}

.menu-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-bottom {
  position: relative;
}

.navbar-bottom .menu-list {
  background-color: #ffff;
  left: inherit;
  right: inherit;
  bottom: inherit;
  bottom: 3.1rem;
  font-size: 1.5em;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navbar-bottom .menu-item {
  background-color: #ffff;
}

.navbar-bottom .menu-item:hover {
  background-color: rgba(194, 194, 194, 0.3);
}

.navbar-bottom .menu-item:last-of-type {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}
